#panel-header {
    text-align: left !important;
    width: 100%;
}

.block-title {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    margin: 10px 10px 10px 10px;
}

.media-list {
    margin-top: 0px;
}
