#panel-header {
  text-align: left !important;
  width: 100%;
}

.display {
  display: none;
}

.block-title {
  margin: 15px 0px 0px 15px;
}

#dialog-list {
  margin-bottom: 0px;
}

.media-list {
  margin-top: 0px;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.item-content {
  padding-left: 10px !important;
}

.item-inner {
  padding-bottom: 2px !important;
}

.date {
    color: #8e8e93;
  padding: 0px 0px 10px 10px;
  margin-top: 5px;
}

#text {
  padding-left: 0px;
}

.delete-thread-dialog {
  background-color: red !important;
}

.red-text {
  color: red !important;
}

.float-left {
  margin-top: 10px;
  margin-right: 10px
}