#panel-header {
    text-align: left !important;
    width: 100%;
}

.block-title {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    margin: 10px 10px 10px 10px;
}

.media-list {
    margin-top: 0px;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
  }

.demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
  }

.item-inner {
    padding-bottom: 2px;
}

.date {
    margin-top: 5px;
}

.delete-thread-dialog {
    background-color: red !important;
}